@media only screen and (max-width: 1024px){
.ImageEditorCanvasClass .image-editor {
  width: 100% !important;
  height: calc(100vh - 70px) !important;
  top:5px !important;
 }
}
 @media only screen and (max-width: 1024px){
 .image-editor__functions {
  width:38% !important;
  max-width:38%;
  margin-right:2%;
 }
}
 @media only screen and (max-width: 1024px){
 .canvas-container {
  width: 100% !important;
  height: 100% !important;
  
 }
}
 @media only screen and (max-width: 1024px) {
 .image-editor__canvas {
  min-width:68% !important;
  margin-right:2%;
 }
}

 @media only screen and (max-width: 1024px) {
   .canvas-container canvas 
  {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  }
}

.image-editor {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.image-editor h5 {
  margin-top: 24px;
}
.image-editor h5.no-margin{
  margin-top: 0;
}
.image-editor__canvas{
  flex: 0 1 auto;
}
.image-editor__functions {
  flex: 0 1 300px;
}
.image-editor__canvas{
 margin-right: 30px; 
}

.wdgt-clr-div {
  display: inline-block;
  width: 38px;
  height: 36px;
}
.btn.mx-button.red {
  background-color: rgba(202, 38, 26, 1);
}
.btn.mx-button.blue {
  background-color: rgba(4, 103, 198, 1);
}
.btn.mx-button.black {
  background-color: rgba(51, 51, 51, 1);
}
.btn.mx-button.green {
  background-color: rgba(9, 138, 0, 1);
  
}
.btn.mx-button.white {
  background-color: rgba(255, 255, 255, 1);
}
.btn.mx-button.yellow {
  background-color: rgba(255, 191, 5, 1);
}
.img-dec-cls,
.img-inc-cls {
  height: 50px;
  width: 50px;
  display: inline-block;
}
.img-dec-cls:before {
  font-family: 'FontAwesome';
  content: "\f068";
  font-size: 20px;
}
.img-inc-cls:before {
  font-family: 'FontAwesome';
  content: "\f067";
  font-size: 20px;
}
.rotate-cursor:before{
  font-family: 'FontAwesome';
  content: "\f0e2";
  font-size: 16px;
  color: #000;
}


.fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 300px;
}