<div class="image-editor" data-dojo-attach-point="widgetBase">
    <div class="image-editor__canvas">
        <canvas data-dojo-attach-point="canvasNode"></canvas>
    </div>
    <div class="image-editor__functions">
        <div class="image-editor__controls ">

            <div class="btn-grp">
                <h5 class="wdgt-text no-margin">Annotation Options</h5>
                <button class="btn mx-button btn-block btn-default" data-dojo-attach-point="addTextButtonNode">Add Text</button>
                <button class="btn mx-button btn-block btn-default" data-dojo-attach-point="addArrowButtonNode">Add Line</button>
                <button class="btn mx-button btn-block btn-default" data-dojo-attach-point="deleteButtonNode">Remove Item</button>
            </div>

            <div id="color-controller" class="btn-grp">
                <h5 class="wdgt-text">Colour</h5>
                <button class="black wdgt-clr-div btn mx-button" value='black' data-dojo-attach-point="makeBlackButtonNode"></button>
                <button class="white wdgt-clr-div btn mx-button" value='white' data-dojo-attach-point="makeWhiteButtonNode"></button>
                <button class="yellow wdgt-clr-div btn mx-button" value='yellow' data-dojo-attach-point="makeYellowButtonNode"></button>
                <button class="red wdgt-clr-div btn mx-button" value='red' data-dojo-attach-point="makeRedButtonNode"></button>
                <button class="blue wdgt-clr-div btn mx-button" value='blue' data-dojo-attach-point="makeBlue"></button>
                <button class="green wdgt-clr-div btn mx-button" value='green' data-dojo-attach-point="makeGreenButtonNode"></button>
                
            </div>


            <div id="text-controller" class="btn-grp">
                <!--<span class="wdgt-text">Font</span>
            <select id="text-selector" data-dojo-attach-point="fontFamilyNode">
                <option value="arial">Arial</option>
                <option value="helvetica" selected>Helvetica</option>
                <option value="myriad pro">Myriad Pro</option>
                <option value="delicious">Delicious</option>
                <option value="verdana">Verdana</option>
                <option value="georgia">Georgia</option>
                <option value="courier">Courier</option>
                <option value="comic sans ms">Comic Sans MS</option>
                <option value="impact">Impact</option>
                <option value="monaco">Monaco</option>
                <option value="optima">Optima</option>
                <option value="hoefler text">Hoefler Text</option>
                <option value="plaster">Plaster</option>
                <option value="engagement">Engagement</option>
            </select>-->
                <h5 class="wdgt-text">Font Size</h5>
                <button class="img-dec-cls btn mx-button btn-default" data-dojo-attach-point="decreaseFont"></button>
                <button class="img-inc-cls btn mx-button btn-default" data-dojo-attach-point="increaseFont"></button>
            </div>


        </div>
        <div class="mx-layoutgrid mx-layoutgrid-fluid fixed-bottom">
            <div class="row">
                <div class="col-md-6">
                    <!--<button class="mx-btn btn-default wdgt-ctrl-btn" data-dojo-attach-point="cancelButton">Cancel</button>
                    <button class="mx-btn btn-default wdgt-ctrl-btn" data-dojo-attach-point="retakePhoto">Retake Photo</button> -->
                    <button class="btn mx-button btn-block btn-default" data-dojo-attach-point="cancelButton">Cancel</button>
                </div>
                <div class="col-md-6">
                    <button class="btn mx-button btn-block btn-primary" data-dojo-attach-point="saveButtonNode">Save</button>
                    <!--<button class="mx-btn btn-default wdgt-ctrl-btn" data-dojo-attach-point="retakePhoto">Retake Photo</button>
                    <button class="mx-btn btn-default wdgt-ctrl-btn-save" data-dojo-attach-point="saveButtonNode">Save</button> -->
                </div>
            </div>
        </div>

    </div>
</div>