<div class="image-editor" data-dojo-attach-point="widgetBase">
    <div class="image-editor__canvas">
        <canvas data-dojo-attach-point="canvasNode"></canvas>
    </div>

    <div class="image-editor__controls">

        <div class="btn-grp">
            <span class="wdgt-text">Add Annotation</span>
            <button class="mx-btn btn-default wdgt-btn" data-dojo-attach-point="addTextButtonNode">Add Text</button>
            <button class="mx-btn btn-default wdgt-btn" data-dojo-attach-point="addArrowButtonNode">Add Line</button>
            <button class="mx-btn btn-default wdgt-btn" data-dojo-attach-point="deleteButtonNode">Delete</button>
        </div>

        <div id="color-controller" class="btn-grp">
            <span class="wdgt-text">Colour</span>
            <button class="red wdgt-clr-div" value='red' data-dojo-attach-point="makeRedButtonNode"></button>
            <button class="blue wdgt-clr-div" value='blue' data-dojo-attach-point="makeBlue"></button>
            <button class="black wdgt-clr-div" value='black' data-dojo-attach-point="makeBlackButtonNode"></button>
            <button class="green wdgt-clr-div" value='green' data-dojo-attach-point="makeGreenButtonNode"></button>
            <button class="yellow wdgt-clr-div" value='yellow' data-dojo-attach-point="makeYellowButtonNode"></button>
        </div>


        <div id="text-controller" class="btn-grp">
            <span class="wdgt-text">Font</span>
            <select id="text-selector" data-dojo-attach-point="fontFamilyNode">
                <option value="arial">Arial</option>
                <option value="helvetica" selected>Helvetica</option>
                <option value="myriad pro">Myriad Pro</option>
                <option value="delicious">Delicious</option>
                <option value="verdana">Verdana</option>
                <option value="georgia">Georgia</option>
                <option value="courier">Courier</option>
                <option value="comic sans ms">Comic Sans MS</option>
                <option value="impact">Impact</option>
                <option value="monaco">Monaco</option>
                <option value="optima">Optima</option>
                <option value="hoefler text">Hoefler Text</option>
                <option value="plaster">Plaster</option>
                <option value="engagement">Engagement</option>
            </select>
            <span class="wdgt-text">Font Size</span>
            <button class="img-dec-cls" data-dojo-attach-point="decreaseFont"></button>>
            <button class="img-inc-cls" data-dojo-attach-point="increaseFont"></button>>
        </div>


    </div>
    <div class="ctrl-btn-grp">
        <div class="ctrl-btn-grp-div">
            <button class="mx-btn btn-default wdgt-ctrl-btn" data-dojo-attach-point="cancelButton">Cancel</button>
            <!-- <button class="mx-btn btn-default wdgt-ctrl-btn" data-dojo-attach-point="retakePhoto">Retake Photo</button> -->
            <button class="mx-btn btn-default wdgt-ctrl-btn-save" data-dojo-attach-point="saveButtonNode">Save</button>
        </div>
    </div>
</div>